
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:wght@400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"> */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #e5e5e5;

}

body {
  font-weight: 300;
  line-height: 1.6;
  background-color: #e5e5e5;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html,
body,
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", "Noto Sans", sans-serif;
  letter-spacing: .01em;
}

.app {
  font-family: "Roboto Condensed", "Noto Sans" , sans-serif;
  color:#222222
}

*::-webkit-scrollbar {
  border-radius: 30px;
  width: 12px;               /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #fff;        /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: #fff;    /* color of the scroll thumb */
  border-radius: 30px;       /* roundness of the scroll thumb */
  border: 3px solid #e5e5e5;  /* creates padding around scroll thumb */
}
